.aboutContainer{
    // height: 100vh;
    // margin-top: 140px;
    overflow: hidden;
    .collNavbar{
        display: none;
    }
    .navbar{
        background-color: #1b242f;
        border-bottom: 3px solid #04c2c9;
        color: white;
        cursor: default;
        z-index:99;
        &.sticky{
            animation: popDown 0.5s;
            position: fixed;
            top: 0;
            width: 100%;
        }
        .navBarContainer{
            display: flex;
            justify-content: space-evenly;
            width: 620px;
            height: 50px;
            align-items: center;
            text-transform: uppercase;
            .home{
                &:hover{
                    color: #e31b6d;
                }
                &.active{
                    color: #e31b6d;
                }
            }
            .about{
                &:hover{
                    color: #e31b6d;
                }
                &.active{
                    color: #e31b6d;
                }
            }
            .experience{
                &:hover{
                    color: #e31b6d;
                }
                &.active{
                    color: #e31b6d;
                }
            }
            .education{
                &:hover{
                    color: #e31b6d;
                }
                &.active{
                    color: #e31b6d;
                }
            }
            .contact{
                &:hover{
                    color: #e31b6d;
                }
                &.active{
                    color: #e31b6d;
                }
            }
            .resume{
                text-decoration: none;
                color:white;
                cursor: default;
                &:hover{
                    color: #e31b6d;
                }
            }
        }
    }
    .aboutbody{
        .aboutTitle{
            text-transform: uppercase;
            text-decoration: underline;
        }

        .skills{
            display: flex;
            margin-top: 70px;
            padding: 30px;
            .fast{
                display: flex;
                flex-direction: column;
                // flex-basis: 20%;
                margin-right: 25px;
                div{
                    &:first-child{
                        font-weight: 800;
                        opacity: 0.5;
                        font-size: 25px;
                    }
                    &:last-child{
                        font-size: 18px;
                        margin-top: 15px;
                    }
                }
            }
            .responsive{
                display: flex;
                flex-direction: column;
                margin: 0px 25px 0px 25px;
                div{
                    &:first-child{
                        font-weight: 800;
                        opacity: 0.5;
                        font-size: 25px;
                    }
                    &:last-child{
                        font-size: 18px;
                        margin-top: 15px;
                    }
                }

            }
            .intuitive{
                display: flex;
                flex-direction: column;
                margin: 0px 25px 0px 25px;
                div{
                    &:first-child{
                        font-weight: 800;
                        opacity: 0.5;
                        font-size: 25px;
                    }
                    &:last-child{
                        font-size: 18px;
                        margin-top: 15px;
                    }
                }

            }
            .dynamic{
                display: flex;
                flex-direction: column;
                // flex-basis: 20%;
                margin: 0px 0px 0px 25px;
                div{
                    &:first-child{
                        font-weight: 800;
                        opacity: 0.5;
                        font-size: 25px;
                    }
                    &:last-child{
                        font-size: 18px;
                        margin-top: 15px;
                    }
                }

            }
        }
    }
    .aboutskills{
        display: flex;
        margin-top: 50px;
        justify-content: space-evenly;
        .profilePic{
            display: flex;
            height: 400px;
            margin-left: 50px;
            border: 4px solid #04c2c9;
            border-radius: 40px;
        }
        .skillset{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-basis: 40%;
            line-height: 2;
            padding-top: 0px;
            font-size: 14px;
            text-transform: uppercase;
            list-style: none;
            margin-top: 0px;
            color: white;
            li{
                display: flex;
                background-color: #04c2c9;
                margin-top: 7px;
                margin-bottom: 7px;
                width: 100%;
                div{
                    &:first-child{
                        min-width: 25%;
                    }
                    &:nth-child(2){
                        display: flex;
                        background-color: #00a1a7;
                    }
                    &:last-child{
                        display: flex;
                        background-color: #eee;
                        color: black;
                        padding-left: 5px;
                        padding-right: 5px;
                        font-weight: 300;
                        flex-grow: 1;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}
@keyframes popDown{
    0% {
        transform: translateY(-100px);
    }
}

@media (max-width:600px){
    .aboutContainer{
        .navbar{
            display: none;
        }
        .collNavbar{
            display: flex;
            flex-direction: column;
            background-color: #1b242f;
            border-bottom: 3px solid #04c2c9;
            color: white;
            cursor: default;
            z-index:99;
            &.sticky{
                animation: popDown 0.5s;
                position: fixed;
                top: 0;
                width: 100%;
            }
            img{
                height: 35px;
                background: white;
                width: 35px;
                align-self: flex-end;
                margin: 10px;
            }
            .navBarContainer{
                font-size: 20px;
                display: flex;
                flex-direction: column;
                text-transform: uppercase;
                line-height: 2.5;
                background: #333;
                width: 100%;
                align-items: flex-start;
                transition: height 0.3s ease-out;
                padding: 15px;
                .resume{
                    text-decoration: none;
                    color: white;
                }
            }
        }
        .aboutbody{
            .skills{
                flex-direction: column;
                margin: 0px;
                .fast{
                    padding: 10px;
                    margin: 0px;
                }
                .responsive{
                    padding: 10px;
                    margin: 0px;
                }
                .intuitive{
                    padding: 10px;
                    margin: 0px;
                }
                .dynamic{
                    padding: 10px;
                    margin: 0px;
                }
            }
        }
        .aboutskills{
            flex-direction: column;
            margin-top: 0px;
            .profilePic{
                margin: 40px;
            }
        }
        .skillset{
            margin: 9px;
            padding: 20px;
        }
    }
}