.contactContainer{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    background-color: #f5f5f5;
    min-height: 100vh;
    .contTitle{
        display: flex;
        margin-top: 70px;
        margin-bottom: 100px;
        justify-content: center;
        text-transform: uppercase;
        text-decoration: underline;
    }
    .contactList{
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        // width: 500px;
        align-self: center;
        padding: 30px;
        .linkedin{
            display: flex;
            justify-content: flex-start;
            margin-bottom: 5px;
            img{
                height:50px;
                width:50px;
                border-radius: 50%;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
            }
            a{
                text-decoration: none;
                color: black;
                cursor: default;
                display: flex;
                align-items: center;
                margin-left: 40px;
                &:hover{
                    color: #04c2c9;
                }
            }
        }
        .github{
            display: flex;
            justify-content: flex-start;
            margin: 5px 0px 5px 0px;
            img{
                height:50px;
                width:50px;
                border-radius: 50%;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
            }
            a{
                text-decoration: none;
                color: black;
                cursor: default;
                display: flex;
                align-items: center;
                margin-left: 40px;
                &:hover{
                    color: #04c2c9;
                }
            }
        }
        .facebook{
            display: flex;
            justify-content: flex-start;
            margin: 5px 0px 5px 0px;
            img{
                height:45px;
                width:52px;
                border-radius: 50%;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
            }
            a{
                text-decoration: none;
                color: black;
                cursor: default;
                display: flex;
                align-items: center;
                margin-left: 40px;
                &:hover{
                    color: #04c2c9;
                }
            }
        }
        .gmail{
            display: flex;
            justify-content: flex-start;
            margin-top: 5px;
            img{
                height:50px;
                width:50px;
                border-radius: 50%;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
            }
            div{
                display: flex;
                align-items: center;
                margin-left: 40px;
                &:hover{
                    color: #04c2c9;
                }
            }
        }
    }
}

@media (max-width:600px){
    .contactContainer{
        .contactList{
            // width: -webkit-fill-available;
            margin: 13px;
            padding: 17px;
            word-break: break-all;
            // align-self: flex-start;
        }
    }
}